[Unit]
Description=Translate collectd JSON HTTP request to Influx Data line protocol
After=network.target

[Service]
Type=notify
ExecStart=/opt/collectd-json-influxdb-proxy/collectd-json-influxdb-proxy -expvar_server -address :5826

[Install]
WantedBy=multi-user.target
