[Unit]
Description=Translate collectd JSON HTTP request to Influx Data line protocol
After=network.target

[Service]
Type=simple
ExecStart=/opt/collectd-json-influxdb-proxy/collectd-json-influxdb-proxy

[Install]
WantedBy=multi-user.target
